[submodule "rosbot_description"]
	path = rosbot_description
	url = https://github.com/husarion/rosbot_description.git
[submodule "rosbot_ekf"]
	path = rosbot_ekf
	url = https://github.com/husarion/rosbot_ekf.git
