[submodule "rosbot2"]
	path = rosbot2
	url = https://github.com/FastSense/rosbot2.git
[submodule "test_node/include/network_operator"]
	path = test_node/include/network_operator
	url = https://github.com/urock/network_operator
