[submodule "rosbot2"]
	path = rosbot2
	url = https://github.com/FastSense/rosbot2.git
[submodule "rosbot_nop_controller/include/network_operator"]
	path = rosbot_nop_controller/include/network_operator
	url = https://github.com/urock/network_operator
