<launch>
  <node pkg="move_base" type="move_base" name="move_base" output="log">
    <param name="controller_frequency" value="10.0"/>

    <rosparam file="$(find rosbot2)/config/dwa/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rosbot2)/config/dwa/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rosbot2)/config/dwa/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rosbot2)/config/dwa/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find rosbot2)/config/dwa/local_planner_params.yaml" command="load" />
  </node>
</launch>
