<launch>
  <include file="$(find rosbot2)/launch/gazebo_bringup.launch"/>

  <include file="$(find rosbot2)/launch/move_base.launch"/>
  <include file="$(find rosbot2)/launch/map_server.launch"/>
  <include file="$(find rosbot2)/launch/amcl_only.launch"/>

  <include file="$(find rosbot2)/launch/rviz.launch"/>
</launch>
