<launch>
  <include file="$(find rosbot2)/launch/gazebo_bringup.launch"/>
  <include file="$(find rosbot2)/launch/map_server.launch"/>
  <include file="$(find rosbot2)/launch/amcl.launch"/>

  <include file="$(find rosbot2)/launch/teb_move_base.launch"/>

  <include file="$(find rosbot2)/launch/rviz.launch"/>
</launch>
