<launch>

    <arg name="traj_type"       default="sin" />
    <arg name="move_plan"       default="$(find rosbot_controller)/plans/plan.txt" />

    <include file="$(find rosbot_controller)/launch/folow_path.launch">
        <arg name="traj_type"               value="$(arg traj_type)"/>     
        <arg name="move_plan"               value="$(arg move_plan)"/> 
    </include>

</launch>
