<launch>

    <!-- parameters for publish_path node -->
    <arg name="traj_type"       default="sin"/>
    <arg name="move_plan"       default="~"/>

    <!-- publish path -->
    <include file="$(find rosbot_controller)/launch/publish_path.launch">
        <arg name="traj_type"   value="$(arg traj_type)" />
        <arg name="move_plan"   value="$(arg move_plan)" />
    </include>

    <node pkg="rosbot_controller" type="path_follower.py" name="gazebo_follower" output="screen">
        <param name="robot_frame"       value="base_link" />
        <param name="cmd_topic"         value="/cmd_vel" />
    </node>

</launch>
