<launch>

    <!-- parameters for gui/rviz visualization  -->
    <arg name="gui"             default="false" />
    <arg name="rviz"            default="true" />

    <!-- parameters for publish_path node -->
    <arg name="publish_path"    default="true" />
    <arg name="traj_type"       default="sin"/>
    <arg name="move_plan"       default="~"/>

    <!-- parameters for MPPI controller  -->
    <arg name="nn_model_path"   default="$(find rosbot_controller)/nets/model_batch_100.onnx" />
    <arg name="cmd_topic"       default="cmd_vel" />
    <arg name="map_frame"             default="odom"/>
    <arg name="base_frame"            default="base_link"/>
    <arg name="cmd_freq"        default="30"/>

    <!-- spawn rosbot -->
    <include file="$(find rosbot2_gazebo)/launch/spawn_rosbot.launch">
        <arg name="rviz"        value="$(arg rviz)" />
        <arg name="gui"         value="$(arg gui)" />
    </include>

    <!-- MPPI controller node -->
    <node pkg="rosbot_controller" type="local_planner_node.py" name="local_planner" output="screen">
        <param name="model_path"       value="$(arg nn_model_path)" />
        <param name="cmd_topic"        value="$(arg cmd_topic)" />
        <param name="map_frame"        value="$(arg map_frame)" />
        <param name="base_frame"       value="$(arg base_frame)" />
        <param name="cmd_freq"         value="$(arg cmd_freq)" />
    </node>

    <!-- publish path -->
    <group if="$(arg publish_path)">
        <include file="$(find rosbot_controller)/launch/publish_path.launch">
            <arg name="traj_type"   value="$(arg traj_type)" />
            <arg name="move_plan"   value="$(arg move_plan)" />
        </include>
    </group> 

</launch>
