<launch>

    <!-- parameters for gui/rviz visualization  -->
    <arg name="gui"             default="false" />
    <arg name="rviz"            default="true" />

    <!-- parameters for publish_path node -->
    <arg name="publish_path"    default="true" />
    <arg name="traj_type"       default="sin"/>
    <arg name="move_plan"       default="~"/>


    <!-- spawn rosbot -->
    <include file="$(find rosbot2_gazebo)/launch/spawn_rosbot.launch">
        <arg name="rviz"        value="$(arg rviz)" />
        <arg name="gui"         value="$(arg gui)" />
    </include>

    <!-- MPPI controller node -->
    <node pkg="rosbot_controller" type="local_planner_node.py" name="mppic" output="screen">
        <rosparam command="load" file="$(find rosbot_controller)/config/mppi.yaml" subst_value="true" />
    </node>

    <!-- publish path -->
    <group if="$(arg publish_path)">
        <include file="$(find rosbot_controller)/launch/publish_path.launch">
            <arg name="traj_type"   value="$(arg traj_type)" />
            <arg name="move_plan"   value="$(arg move_plan)" />
        </include>
    </group> 

</launch>
