<launch>
    

    <!-- parameters for gui/rviz visualization  -->
    <arg name="gui"             default="false" />
    <arg name="rviz"            default="true" />


    <!-- for NN Model -->
    <arg name="use_nn_model"    default="false" />
    <arg name="nn_model_path"   default="$(find rosbot_controller)/nets/model_batch_1.onnx" />
    <arg name="cmd_topic"       default="cmd_vel" />
    <arg name="parent_frame"    default="odom"/>
    <arg name="robot_frame"     default="nn_model_link"/>
    <arg name="cmd_freq"        default="30"/>

    <!-- spawn rosbot -->
    <include file="$(find rosbot2)/launch/spawn_rosbot.launch">
        <arg name="rviz"    value="$(arg rviz)" />
        <arg name="gui"     value="$(arg gui)" />
    </include>

    <!-- spawn rosbot kinetic model -->
    <include file="$(find rosbot_controller)/launch/spawn_kinematic_model.launch"/>

    <!-- publish path -->
    <group if="$(arg use_nn_model)">
        <include file="$(find rosbot_controller)/launch/spawn_nn_model.launch">
            <arg name="nn_model_path"   value="$(arg nn_model_path)" />
            <arg name="cmd_topic"       value="$(arg cmd_topic)" />
            <arg name="parent_frame"    value="$(arg parent_frame)" />
            <arg name="robot_frame"     value="$(arg robot_frame)" />
            <arg name="cmd_freq"        value="$(arg cmd_freq)" />
        </include>
    </group> 


</launch>
